
{%include 'home_header.html'%}
 


         <!--================Banner Area =================-->
        <section class="banner-area-3 has_search">
            <div class="banner-shapes">
                <div class="shape">
                    <img data-parallax="{" x":="" -60,="" "y" :="" 0}"="" src="/static/styles/images/banner-shape-1.png"
                        alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax="{" x":="" -20,="" "y" :="" 0}"="" src="/static/styles/images/banner-shape-2.png"
                        alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax="{" x":="" 60,="" "y" :="" 0}"="" src="/static/styles/images/banner-shape-3.png"
                        alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax="{" x":="" 40,="" "y" :="" 0}"="" src="/static/styles/images/banner-shape-4.png"
                        alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax="{" x":="" 200,="" "y" :="" 90,="" "rotatey" :700}"=""
                        src="/static/styles/images/banner-shape-5.png" alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax="{" x":="" 200,="" "y" :="" 70,="" "rotatez" :700}"=""
                        src="/static/styles/images/banner-shape-6.png" alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax="{" x":="" -150,="" "y" :="" 90,="" "rotatez" :0}"=""
                        src="/static/styles/images/banner-shape-7.png" alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax="{" x":="" -200,="" "y" :="" 90,="" "rotatex" :700}"=""
                        src="/static/styles/images/banner-shape-8.png" alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax="{" x":="" -150,="" "y" :="" 90,="" "rotatez" :0}"=""
                        src="/static/styles/images/banner-shape-9.png" alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax="{" x":="" -200,="" "y" :="" 70,="" "rotatex" :700}"=""
                        src="/static/styles/images/banner-shape-10.png" alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="row doc_banner_content">
                    <div class="col-12 px-0">
                        <h1 class="banner-title-h1">Welcome to Ai Question & Answers</h1>
                        <p class="banner-text-p">SolveAi is your go-to AI assistant for quick and accurate answers. <br>
                             Ask anything, and let our smart AI deliver insights in seconds. <br>
                              Get the knowledge you need, anytime, anywhere!</p>
                    </div>
                    <div class="col-lg-8 mx-auto">
                       
                    </div>
                </div>
            </div>
        </section>
        <!--================End Bannner Area =================-->

        <!--================Ama Statistics Area =================-->
        
        <!--================End Ama Statistics Area =================-->

        <!--================Community Area =================-->
        
        <!--================End Community Area =================-->

        <!--================Feature One Area =================-->
        <section class="feature-one">
            <div class="container">
                <div class="row align-items-center gy-4 gy-lg-0">
                    <div class="col-lg-6 text-center text-lg-start">
                        <div class="img-content">
                            <img class="wow fadeInRight" data-wow-delay="0.1s" src="/static/styles/images/Post.png"
                                alt="post">
                            <img class="wow fadeInLeft" data-wow-delay="0.2s" src="/static/styles/images/Comment.png"
                                alt="comment">
                            <img class="bg-img" src="/static/styles/images/post-vaiation-bg.png" alt="bg img">
                            <img src="/static/styles/images/Subtract.png" alt="shape">
                            <img src="/static/styles/images/scribbles-scribbles-62.png" alt="shape">
                            <img src="/static/styles/images/scribbles-scribbles-2.png" alt="shape">
                        </div>

                    </div>
                    <div class="col-lg-6 ps-lg-5">
                        <div class="feature-content-text wow fadeInLeft mt-4 mt-xl-0">
                            <h2>Discover a great collection of post variations</h2>
                            <p>The Forum activity allows students and teachers to exchange ideas by posting comments as
                                part of a 'thread'. Files such as images and media maybe included in forum posts. The
                                teacher can choose to grade and/or rate forum posts and it is also possible to give
                                students permission to rate each others' posts.</p>
                            <hr>
                            <h5>This is an incredible Forum</h5>
                            <a href="#" class="dbl-arrow">
                                <div class="arrow-cont">
                                    <i class="arrow_carrot-right first"></i>
                                    <i class="arrow_carrot-right second"></i>
                                </div> Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Feature One Area =================-->

        <!--================Feature Two Area =================-->
        <section class="feature-two">
            <div class="container">
                <div class="row align-items-center gy-4 gy-lg-0">
                    <div class="col-lg-6 order-lg-2 ps-lg-4 text-center text-lg-start  offset-xl-1">
                        <div class="img-content wow fadeInLeft">
                            <img class="img-fluid" src="/static/styles/images/daily-notification.png" alt="post">
                            <img src="/static/styles/images/scribbles-scribbles-43.png" alt="shape">
                            <img class="bg-img" src="/static/styles/images/daily-notification-bg.png" alt="bg">
                        </div>

                    </div>
                    <div class="col-xl-5 col-lg-6 pe-xl-0 order-lg-1">
                        <div class="feature-content-text wow fadeInRight mt-4 mt-xl-0">
                            <h2>Activate daily notifications and never miss a thing</h2>
                            <p>Please make sure you read the forum guidelines and Frequently Asked Questions before
                                contributing to WordPress support, both when asking for and giving support, this helps
                                maintain a friendly and welcoming atmosphere for all involved. I asked this writer for a
                                guest post, which he seemed happy to write for me.</p>
                            <hr>
                            <h5>Interested in our network?</h5>
                            <a href="#" class="dbl-arrow">
                                <div class="arrow-cont">
                                    <i class="arrow_carrot-right first"></i>
                                    <i class="arrow_carrot-right second"></i>
                                </div> Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Feature Two Area =================-->

        <!--================Call To Action Area =================-->
   
        <!--================End Latest News Area =================-->




    {%include 'footer.html'%}
