<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <a href="/">HOME</a>
    
   <a href="login">LOGIN</a>
    <a href="Teacher_Registration">TEACHER REGISTER</a>

 -->

 

 <!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/css/slick.css">
    <link rel="stylesheet" href="/static/styles/css/slick-theme.css">
    <!-- icon css-->
    <link rel="stylesheet" href="/static/styles/css/style.css">
    <link rel="stylesheet" href="/static/styles/css/nice-select.css">
    <link rel="stylesheet" href="/static/styles/css/animate.css">
    <link rel="stylesheet" href="/static/styles/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/static/styles/css/style-main.css">
    <link rel="stylesheet" href="/static/styles/css/responsive.css">
    <title>AI QUESTION & ANSWERS</title>
</head>



        <!--================Navbar Area =================-->
        <nav class="navbar navbar-expand-lg  menu_one sticky-nav d-none d-lg-block">
            <div class="container">
                <a class="navbar-brand header_logo" href="index.html">
                    <img class="first_logo sticky_logo" src="/static/styles/images/wwww.png" width="50%" alt="logo">
                    <img class="white_logo main_logo" src="/static/styles/images/eee.png" width="50%" alt="logo">
                </a>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav menu ms-auto">
                        <li class="nav-item dropdown submenu active">
                            <a href="/" class="nav-link dropdown-toggle">Home</a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="false"
                                data-bs-toggle="dropdown"></i>
                           
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="/Teacher_Registration" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Teacher
                            </a>
                           
                        </li>
                        <!-- <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="forums.html" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Forum
                            </a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="false"
                                data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="forums.html" class="nav-link">Forums Root</a></li>
                                <li class="nav-item"><a href="forum-topics.html" class="nav-link">Forum Topics</a></li>
                                <li class="nav-item"><a href="forum-topics-2.html" class="nav-link">Forum Topics Two</a>
                                </li>
                                <li class="nav-item"><a href="forum-single.html" class="nav-link">Topic Details</a></li>
                                <li class="nav-item"><a href="forum-profile.html" class="nav-link">User Profile</a></li>
                                <li class="nav-item"><a href="add-question.html" class="nav-link">Add Question</a></li>
                                <li class="nav-item"><a href="user-list.html" class="nav-link">User List</a></li>
                                <li class="nav-item"><a href="user-details.html" class="nav-link">User Details</a></li>
                                <li class="nav-item"><a href="badges.html" class="nav-link">User Badges</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Blog
                            </a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="false"
                                data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="blog-grid.html" class="nav-link">Blog Grid</a></li>
                                <li class="nav-item"><a href="blog-grid-two.html" class="nav-link">Blog Grid Two</a>
                                </li>
                                <li class="nav-item"><a href="blog-list.html" class="nav-link">Blog List</a></li>
                                <li class="nav-item"><a href="blog-single.html" class="nav-link">Blog Details</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <div class="right-nav">
                        <a class="action_btn btn_small_two btn-text-medium round-btn-2" href="/Teacher_Registration">Sign up</a>

                    </div>
                </div>
            </div>
        </nav>
        <div class="mobile_main_menu sticky-nav menu_one">
            <div class="container">
                <div class="mobile_menu_left">
                    <button type="button" class="navbar-toggler mobile_menu_btn">
                        <span class="menu_toggle ">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>
                    <a class="navbar-brand header_logo" href="index.html">
                        <img class="sticky_logo " src="/static/styles/images/logo.png"
                            srcset="/static/styles/images/logo-2x.png 2x" alt="logo">
                        <img class="main_logo white_logo" src="/static/styles/images/logo.png"
                            srcset="/static/styles/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="mobile_menu_right">
                    <div class="right-nav">
                        <div class="px-2 js-darkmode-btn" title="Toggle dark mode">
                            <label for="something2" class="tab-btn tab-btns">
                                <ion-icon name="moon"></ion-icon>
                            </label>
                            <label for="something2" class="tab-btn">
                                <ion-icon name="sunny"></ion-icon>
                            </label>
                            <label class=" ball" for="something2"></label>
                            <input type="checkbox" name="something2" id="something2" class="dark_mode_switcher">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    

    <br><br><br><br><br>
    <!-- <form action="" method="post">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="uname" required></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="psd" required></td>
            </tr>  
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit" name="login">login</button>
                </td>
            </tr>
        </table>
    </form> -->

    <div class="login">
        <div class="form">
          <p>welcome</p>
          <form class="login-form" method="post">
            <input type="text" placeholder="Username" name="uname" required  required/>
            <input type="password" placeholder="password" name="psd" required />
            <button type="submit" name="login">login</button>
          </form>  
        </div>
      </div>


      <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background: #e0e0e0;
}

.login {
  width: 360px;
  margin: auto;
  font-family: 'Comfortaa', cursive;
  border-radius: 50px;
}

.form {
  position: relative;
  z-index: 1;
  background: #812525;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  -11px 11px 22px #bebebe, 11px -11px 22px #ffffff;
}

.form input {
  outline: 0;
  background: #e0e0e0;
  border-color: #2f2323;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #e0e0e0;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #2f2323;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}
      </style>
      <br><br><br><br>
    {%include 'footer.html'%}
