


{%include 'teacher_header.html'%}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                            data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h6>Welcome to Ai Question & Answers</h6>
                                    <p>SolveAi is your go-to AI assistant for quick and accurate answers.
                                        Ask anything, and let our smart AI deliver insights in seconds.
                                        Get the knowledge you need, anytime, anywhere!</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="/static/teach/assets/images/lll.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="about section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="/static/teach/assets/images/about-dec-v3.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                        data-wow-delay="0.5s">
                        <div class="about-right-content">
                            <div class="section-heading">
                                <h6>About Us</h6>
                                <h4>Ai Question & <em>Answers</em></h4>
                                <div class="line-dec"></div>
                            </div>
                            <p>This all-in-one academic management system simplifies and enhances the learning
                                experience for administrators, teachers, students, and parents. Administrators can
                                manage courses, exams, and feedback effortlessly. Teachers can share lessons, track
                                exams, and communicate results. Students gain easy access to subjects, exams, and
                                marks, while parents stay informed with real-time progress and feedback tools.
                                Designed for efficiency and collaboration, this system bridges gaps and creates a
                                seamless educational journey for all.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{%include 'teacher_footer.html'%}
 


