
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <p>SolveAi  Question & Answers Community
              </p>
            </div>
          </div>
        </div>
      </footer>
    
    
      <!-- Scripts -->
      <script src="/static/teach/vendor/jquery/jquery.min.js"></script>
      <script src="/static/teach/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/static/teach/assets/js/owl-carousel.js"></script>
      <script src="/static/teach/assets/js/animation.js"></script>
      <script src="/static/teach/assets/js/imagesloaded.js"></script>
      <script src="/static/teach/assets/js/custom.js"></script>
    
    </body>
    </html>